name: Build and Push Wiki.js Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Login bei ACR
      - name: Login to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Docker Build
      - name: Build Docker Image
        run: |
          IMAGE=${{ secrets.ACR_LOGIN_SERVER }}/wiki:latest
          docker build -t $IMAGE .

      # Push Image
      - name: Push Docker Image
        run: |
          IMAGE=${{ secrets.ACR_LOGIN_SERVER }}/wiki:latest
          docker push $IMAGE
